body{
    background-color:#fff;
    margin:0;
    padding:0;
}
#display{
    float:right;
    margin-bottom:10%;
    width:70%;
    margin-left:1%;
    margin-top:12.2%;
    

}
.border{
    height:62%;
    width:27%;
    
    float:left;
    margin-right:3%;
    margin-bottom:4%;
}
.imageborder{
    float:left;
    height:84.2%;
    width:100%;
    
    margin-bottom:2%;
}
.image{
    height:100%;
    width:100%;
}
.name{
    
    height:6.25%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size:80%;
    font-weight:bold;
    float:left;
    margin-bottom:1%;
    
}
.price{
    height:6.25%;
    font-family: 'Montserrat', sans-serif;
    font-size:90%;
    font-weight:bold;
    margin-top:2%;
    float:left;

}


#outerborder{
    float:left;
    height:70%;
    width:15%;
    
    margin-left:10%;
    margin-top:12.2%;
}

#categorytextborder{
    height:10%;
    width:100%;
    float:left;
    border-bottom:solid 1px rgba(0,0,0,.4);
}

#categorytext{
    height:100%;
    width:70%;
    cursor:pointer;
    float:left;
    font-family: 'Montserrat', sans-serif;
}

#categorydownbarimageborder{
     height:50%;
     width:10%;
     float:right;
     
     cursor:pointer;

}

#categorydisplayblock{
    height:20%;
    width:80%;
    float:left;
    cursor:pointer;
    display:none;
}


#categorydisplayblockmen{
    height:33%;
    width:100%;
    float:left;
    cursor:pointer;
    border-bottom:solid 1px rgba(0,0,0,.4);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}
#categorydisplayblockwomen{
    height:33%;
    width:100%;
    float:left;
    cursor:pointer;
    border-bottom:solid 1px rgba(0,0,0,.4);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}
#categorydisplayblockaccess{
    height:33%;
    width:100%;
    float:left;
    cursor:pointer;
    border-bottom:solid 1px rgba(0,0,0,.4);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}





#pricetextborder{
    height:10%;
    width:100%;
    float:left;
    border-bottom:solid 1px rgba(0,0,0,.4);
    margin-top:10%;
    font-family: 'Montserrat', sans-serif;
}

#pricetext{
    height:100%;
    width:70%;
    cursor:pointer;
    float:left;
    font-family: 'Montserrat', sans-serif;
}

#pricedownbarimageborder{
     height:50%;
     width:10%;
     float:right;
     
     cursor:pointer;
     
}

#pricedisplayblock{
    height:20%;
    width:80%;
    float:left;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    display:none;
}

#pricedisplayblocklowtohigh{
    height:33%;
    width:100%;
    float:left;
    cursor:pointer;
    border-bottom:solid 1px rgba(0,0,0,.4);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}
#pricedisplayblockhightolow{
    height:33%;
    width:100%;
    float:left;
    
    border-bottom:solid 1px rgba(0,0,0,.4);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    cursor:pointer;
}

#categoryimage{
    height:100%;
    width:100%;
}













#dontdistrup{
    height:100%;
    width:100%;
    
    float:right;
}


#footer{
    
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
#flexx{
    display: flex;

}
#flexx h5{
    color:#fdd835;
    font-size: 13px;
    margin-top: 0;
    font-weight: normal;
    margin-top:10px;
}
#flexx div{
    color:white;
    margin-left:10%;
    font-size: small;
}
#bewa{
    color:#fdd835;
    margin-left:10%;
    margin-bottom:0px;
    padding-top:70px;
  
    
}
#flexx2{
    display: flex;
    color:white
}
#marginn{
    margin-bottom: 0;
}
#footer > div:nth-child(3){
    margin-top: 28px;
}
#googleimg img{
    width:35%;
    
}
#flexx #cards{
    margin-left:0;
}
#footer #hrline{
    
    border:thin solid white;
    background-color: black;
    width:78%;
    margin:2%;
    margin-left:10%;
    opacity:.5
    
}
#men-v{
    color:white;
}
#flexx2{
    display:flex;
    font-size: small;

    
}
#flexx2 div{
    margin-left:5%;
}
#flexx2 #men-v{
    margin-left: 10%;
}
#flexx2 #gapp{
    margin-top:12px;
    margin-left:0;
}

#flexx2 h3{
    font-size:18px;
    opacity: 1;
}
#fanbook{
    color:#51cccc;
}
#men-v div,#women-v div,#mobile-v div{
    opacity: .92;
    margin-left: 0;
}









.bignavbar{
    height:80%;
    width:100%;
    border:solid 1px black;
}

.bagimg{
    height:100%;
    width:100%;
}
.bag{
    height:50%;
    width:1.8%;
    
    float:left;
    margin-top:0.75%;
    margin-left:1.5%;
}
.wish{
    margin-top:1%;
    height:40%;
    
    float:left;
    
}
.wishimg{
    height:100%;
    width:100%;

}
::placeholder{
    font-size:80%;
    font-family: montserrat,sans-serif;
}
:focus{
    outline: none;
}
 .search{
     width:22%;
     margin-top:0.4%;
     float:left;
     margin-left:30%;
     background-color:rgb(233, 232, 232);
     border-radius:5px;
     padding:0.9%;
     border:none;
     
     
 }
 .search:hover {
    font-family: montserrat,sans-serif;
     background-color:white;
     border:0.5px solid rgb(233,232,232);
    
 }
 .ver{
    font-family: montserrat,sans-serif;
     margin-top:1%;
     height:40%;
     border-left:solid 0.2px rgb(184, 179, 179);
     margin-left:0.8%;
     float:left;
     
 }
 
 #login{
     float:left;
     margin-left:0.2%;
     padding:0.9%;
     font-family: montserrat,sans-serif;
     cursor:pointer;

 }
.navbar{
    padding:0;
    height:8%;
    width:100%;
    background-color:#fff;
    border-bottom:  solid 0.5px  rgb(233, 232, 232);
    position:fixed;
}
.bewakooflogo{
    height:100%;
    width:11%;
    margin-left:7%;
    font-family: montserrat,sans-serif;
    float:left;
}
.bewakooflogoimg{
    margin-top:6%;
    height:45%;
    width:100%;
}
#men{
    padding:0.9%;
    font-family: montserrat,sans-serif;
    float:left;
    margin-left:3%;
    font-size:80%;
    cursor:pointer;

}
.women{
    font-size:80%;
    float:left;
     padding:0.9%;
     cursor:pointer;
     font-family: montserrat,sans-serif;
    
    
}

